<%= partial 'partials/header' %>


<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>


<section id="podcast_intro_banner">
  <div id="podcast_intro" class="container">
    <div class="twelve columns offset-by-two">
      <h1><a href="/podcast">The Rocketship Podcast</a></h1>
      <h2>20 minute interviews with successful startup founders about the early days of their business and the activities that helped them succeed at key points along the way.</h2>
      <h3>Sponsored by: <a href="https://www.codeship.io?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast"><img src="images/logo_codeship_colour.png" width="140" class="scale-with-grid"></a></h3>
      <div class="divider"></div>
    </div><!-- END .twelve.columns.offset-by-two -->
  </div><!-- END #podcast_intro.container -->
</section><!-- END #podcast_intro_banner -->

<section id="podcasts_banner">
  <div id="podcasts" class="container">
    <section id="podcast_list" class="eleven columns">
      <% blog('podcast').articles.select{ |article| article.data.upcoming == false }.each_with_index do |episode, index| %>
        <% if index == 0 %>
          <%= partial 'partials/episode', locals: {episode: episode} %>
        <% else %>
          <div class="podcast">
            <h3><%= link_to "EP#{episode.data.episode}: #{episode.data.title}", episode.url %><span class="podcast_date"><%= episode.date.strftime('%B %-d, %Y') %></span></h3>
            <a href="<%= episode.data.twitter_url %>"><img src="/images/<%= episode.data.avatar %>"></a>
            <p><%= episode.data.summary %></p>
            <div class="clear"></div>
            <div class="listen">
              <a class="listen-to-episode" href="<%= episode.url %>">Listen to Episode</a>
            </div>
            <div class="clear"></div>
          </div><!-- END .podcast -->
        <% end %>
      <% end %>
    </section><!-- END #podcast_list.eleven.columns -->

    <%= partial 'partials/sidebar' %>
  </div><!-- END #podcasts.container -->
</section><!-- END #podcasts_banner -->

<%= partial 'partials/footer' %>
