<%= partial 'partials/header' %>

<section id="podcast_intro_banner">
  <div id="podcast_intro" class="container">
    <div class="twelve columns offset-by-two">
      <h1>The Rocketship Podcast</h1>
      <h2>20 minute interviews with successful SaaS founders about the early days of their business and the activities that helped them succeed at key points along the way.</h2>
      <div class="divider"></div>
    </div><!-- END .twelve.columns.offset-by-two -->
  </div><!-- END #podcast_intro.container -->
</section><!-- END #podcast_intro_banner -->

<section id="podcasts_banner">
  <div id="podcasts" class="container">
    <section id="podcast_list" class="eleven columns">


      <% blog('podcast').articles.select{ |article| article.date < Date.today }.each do |episode| %>
        <div class="podcast">
          <h3><%= link_to "Episode #{episode.data.episode}: #{episode.data.name}", episode.url %><span class="podcast_date"><%= episode.date.strftime('%B %-d, %Y') %></span></h3>
          <a href="<%= episode.data.twitter_url %>"><img src="/images/<%= episode.data.avatar %>"></a>
          <p><%= episode.data.summary %></p>
          <div class="clear"></div>
          <a class="listen-to-episode" href="<%= episode.url %>">Listen to Episode</a>
          <div class="clear"></div>
        </div><!-- END .podcast -->
      <% end %>


      <div class="podcast">
        <h3>Episode 10: Brennan Dunn<span class="podcast_date">March 18, 2014</span></h3>
        <a href="https://twitter.com/brennandunn"><img src="/images/brennan_dunn.jpg"></a>
        <p><a href="https://twitter.com/brennandunn">Brennan Dunn</a>, founder of <a href="https://planscope.io">PlanScope</a>, author of <a href="http://doubleyourfreelancingrate.com">Double Your Freelancing Rate</a> and a number of other books and courses, talks with us about how he uses one list to market all of his products. Among other benefits, this leaves the door open to sell any number of future products or services. We learned A LOT.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1825?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1825.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Listen on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="https://twitter.com/brennandunn">Brennan Dunn</a></li>
              <li><a href="https://planscope.io/">PlanScope</a></li>
              <li><a href="http://doubleyourfreelancingrate.com/">Double Your Freelancing Rate</a></li>
              <li><a href="http://brennandunn.com/products/">Brennan's Products</a></li>
              <li><a href="http://mailchimp.com/">MailChimp</a></li>
              <li><a href="http://www.infusionsoft.com/">Infusionsoft</a></li>
              <li><a href="http://www.hubspot.com/">HubSpot</a></li>
              <li><a href="https://twitter.com/nathanbarry">Nathan Barry</a></li>
              <li><a href="https://twitter.com/patio11">Patrick McKenzie</a></li>
              <li><a href="https://twitter.com/amyhoy">Amy Hoy</a></li>
              <li><a href="http://30x500.com/">30 x 500</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song <a href="https://soundcloud.com/tokimonsta/the-world-is-ours">"The World is Ours" by TOKiMONSTA</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">“I no longer have lists, I have contacts that have attributes assigned to them.”<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“I no longer have lists, I have contacts that have attributes assigned to them.” @brennandunn" data-count="none" data-hashtags="marketing">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">“All of my marketing is a direct response to things that people have told me over email.”<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“All of my marketing is a direct response to things that people have told me over email.” @brennandunn" data-count="none" data-hashtags="marketing">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">“30% of all new opt-ins to my email list buy one of my products within a week."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“30% of all new opt-ins to my email list buy one of my products within a week.&quot; @brennandunn" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 9: Adii Pienaar<span class="podcast_date">March 13, 2014</span></h3>
        <a href="https://twitter.com/adii"><img src="/images/adii_pienaar.png"></a>
        <p>In this episode, <a href="https://twitter.com/adii">Adii Pienaar</a>, founder of <a href="http://www.woothemes.com/">WooThemes</a>  and <a href="http://adii.me/pause/">Public Beta</a>, talked with us about launching a completely new venture from scratch and some of the controversial techniques he used when validating his idea. He also opened up with us about creating a more sustainable work/life balance and his plans for the future.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1802?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1802.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Listen on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="https://twitter.com/adii">Adii Pienaar</a></li>
              <li><a href="http://www.woothemes.com/">WooThemes</a></li>
              <li><a href="http://adii.me/pause/">PublicBeta</a></li>
              <li><a href="http://adii.me/">Adii's Blog</a></li>
              <li><a href="https://twitter.com/danmartell">Dan Martell</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song <a href="https://www.youtube.com/watch?v=EInMASNQOU0&feature=kp">"Hillary Swank" by Joey Bada$$</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">"Without a product, in a week or two, I captured $4,000 in revenue. That adds a lot of momentum to an idea."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;Without a product, in a week or two, I captured $4,000 in revenue. That adds a lot of momentum to an idea.&quot; @adii" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"The biggest thing in finding balance is to obey the physical signs your mind and your body impose on you."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;The biggest thing in finding balance is to obey the physical signs your mind and your body impose on you.&quot; @adii" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"Simplify things. Go back to basics. Create something of value that someone else wants to pay you for."
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;Simplify things. Go back to basics. Create something of value that someone else wants to pay you for.&quot; @adii" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 8: Jeremiah Gardner<span class="podcast_date">March 10, 2014</span></h3>
        <a href="https://twitter.com/JeremiahGardner"><img src="/images/jeremiah_gardner.jpg"></a>
        <p>In this episode, <a href="https://twitter.com/JeremiahGardner">Jeremiah Gardner</a>, author of <a href="http://jeremiahgardner.com/book/">The Lean Brand</a>, shares his techniques for helping companies get to the root of what they're really about (not just what they're selling). He talks about how having the right conversations in the beginning is hugely powerful when it comes to finding your product/market fit.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1791?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1791.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Listen on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="https://twitter.com/JeremiahGardner">Jeremiah Gardner</a>
              <li><a href="http://theleanbrand.me">The Lean Brand</a>
              <li><a href="https://twitter.com/simonsinek">Simon Sinek</a></li>
              <li><a href="http://www.nike.com">Nike</a></li>
              <li><a href="http://www.gatorade.com/‎">Gatorade</a></li>
              <li><a href="http://www.lululemon.com">Lululemon</a></li>
              <li><a href="https://www.mint.com">Mint.com</a></li>
              <li><a href="https://www.bankofamerica.com">Bank of America</a></li>
              <li><a href="https://www.wellsfargo.com">Wells Fargo</a></li>
              <li><a href="https://www.capitalone.com">Capital One</a></li>
              <li><a href="https://www.chase.com/‎">Chase</a></li>
              <li><a href="http://gozesty.com/">Zesty</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song <a href="https://soundcloud.com/jazzdesigners/3-the-visioneers-the-world-is">"The World is Yours" by the Visioneers</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">"A brand is organic - meaning branding happens both with intention and without intention."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;A brand is organic - meaning branding happens both with intention and without intention.&quot; @JeremiahGardner" data-count="none" data-hashtags="branding">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"People don’t connect with what you built or how you built it. They connect with why you built it."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.howtobuildarocketship.com" data-text="&quot;People don’t connect with what you built or how you built it. They connect with why you built it.&quot; @JeremiahGardner" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"Knowing who you’re not for is so important. Saying you’re for ‘everybody’ is the wrong answer."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.howtobuildarocketship.com/podcast" data-text="&quot;Knowing who you’re not for is so important. Saying you’re for ‘everybody’ is the wrong answer.&quot; @JeremiahGardner" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 7: Mikael Cho<span class="podcast_date">March 6, 2014</span></h3>
        <a href="https://twitter.com/mikaelcho"><img src="/images/mikael_cho.jpg"></a>
        <p>In this episode, <a href="https://twitter.com/mikaelcho">Mikael Cho</a>, founder of <a href="https://ooomf.com/">Ooomf</a> talks with us about how they've used "tool marketing" (aka built a few simple, free tools) to help solve problems for their target audience and build a bridge to their main service. His unique approach has paid off big time.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1765?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1765.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Listen on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="https://twitter.com/mikaelcho">Mikael Cho</a>
              <li><a href="https://ooomf.com/">Ooomf</a>
              <li><a href="http://unsplash.com/">Unsplash</a>
              <li><a href="http://howmuchtomakeanapp.com/">How Much to Make an App</a>
              <li><a href="http://www.wufoo.com/">Wufoo</a>
              <li><a href="http://dribbble.com/">Dribbble</a>
              <li><a href="https://medium.com/">Medium</a>
              <li><a href="https://svbtle.com/">Svbtle</a>
              <li><a href="https://www.quora.com/">Quora</a>
              <li><a href="https://ooomf.com/blog/coffee-vs-beer-effects-on-creativity/">Coffee vs. Beer: Which Drink Makes You More Creative?</a>
              <li><a href="http://thenextweb.com/us/">The Next Web</a>
              <li><a href="http://blog.bufferapp.com/">The Buffer Blog</a>
              <li><a href="http://lifehacker.com/">Lifehacker</a>
              <li><a href="https://twitter.com/pjrvs">Paul Jarvis</a>
              <li><a href="https://ooomf.com/blog/">Ooomf Blog</a>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song: <a href="https://soundcloud.com/defendmusic/aloe-blacc-green-lights">Aloe Blacc - "Green Lights"</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">“Write where your audience is." (aka don’t worry about them coming to your own blog)<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“Write where your audience is - don’t worry about them coming to your own blog...&quot; @mikaelcho via @pjrvs" data-count="none" data-hashtags="marketing">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"Everything I write tells a story. If I can’t come up with one it’s not worth sharing." <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;Everything I write tells a story. If I can’t come up with one it’s not worth sharing.&quot; @mikaelcho" data-count="none" data-hashtags="marketing">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">“If they're not resonating with the problem, they're NEVER going to care about your solution.”<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“If they're not resonating with the problem, they're NEVER going to care about your solution.” @mikaelcho" data-count="none" data-hashtags="marketing">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 6: Dan Norris<span class="podcast_date">March 4, 2014</span></h3>
        <a href="https://twitter.com/thedannorris"><img src="/images/dan_norris.jpg"></a>
        <p>In this episode, <a href="https://twitter.com/thedannorris">Dan Norris</a>, founder of <a href="http://inform.ly/">Informly</a> and <a href="https://wpcurve.com/">WP Curve</a>, talks about how he and his partner have learned to "fail fast" and how they pay closer attention to people's behavior than verbal feedback.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1748?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1748.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Listen on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="https://twitter.com/thedannorris">Dan Norris</a></li>
              <li><a href="https://twitter.com/alexmcclafferty">Alex McClafferty</a></li>
              <li><a href="http://inform.ly/">Informly</a></li>
              <li><a href="https://wpcurve.com/">WP Curve</a></li>
              <li><a href="https://twitter.com/hnshah">Hiten Shah</a></li>
              <li><a href="http://startupchat.co/service-as-a-service/">Why I Chose 'Service as a Service' for my Startup</a></li>
              <li><a href="http://startupchat.co/is-startup-validation-bullshit/">Is Startup Validation Bullshit?</a></li>
              <li><a href="http://thenextweb.com/">The Next Web</a></li>
              <li><a href="http://mashable.com/">Mashable</a></li>
              <li><a href="http://startupchat.co/">StartupChat.io</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song: <a href="https://soundcloud.com/sanedrachunter/m-i-a-the-message">M.I.A-The Message (SanedracHunter Bootleg Remix)</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">"We knew we'd tapped into something that people really cared about because we asked our customers why they pay us!"<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;We knew we'd tapped into something that people really cared about because we asked our customers why they pay us!&quot;" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <p class="tweetable">“When something's gaining momentum, it doesn’t matter what mistakes you make. It just continues anyway”<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“When something's gaining momentum, it doesn’t matter what mistakes you make. It just continues anyway” @thedannorris" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">“If I hadn’t built an audience with Informly first, WP Curve probably wouldn’t have turned into anything.”<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“If I hadn’t built an audience with Informly first, WP Curve probably wouldn’t have turned into anything.”" data-count="none" data-hashtags="momentum">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 5: Ruben Gamez<span class="podcast_date">February 27, 2014</span></h3>
        <a href="https://twitter.com/earthlingworks"><img src="/images/ruben_gamez.png"></a>
        <p>In this episode, <a href="https://twitter.com/earthlingworks">Ruben Gamez</a>, founder of <a href="http://bidsketch.com/">Bidsketch</a>, shares how he was able to leverage integrations with other apps into promotional opportunities that skyrocketed Bidsketch’s early growth.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1699?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1699.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Listen on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="http://bidsketch.com/">Bidsketch</a></li>
              <li><a href="https://twitter.com/earthlingworks">Ruben Gamez</a></li>
              <li><a href="http://grails.org/">Grails</a></li>
              <li><a href="http://groovy.codehaus.org/">Groovy</a></li>
              <li><a href="http://www.freshbooks.com/">FreshBooks</a></li>
              <li><a href="https://rightsignature.com/">RightSignature</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song:<a href="https://soundcloud.com/seldonproject/seelenluft-manila-ewan-pearson"> Seelenluft - Manila - Ewan Pearson Remix</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bit:</h4>
            <p class="tweetable">"THE best thing you can do is to make it as easy as possible for someone else to promote you."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com" data-text="&quot;THE best thing you can do is to make it as easy as possible for someone else to promote you.&quot; -@earthlingworks" data-count="none" data-hashtags="SaaS">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 4: Chris Hexton<span class="podcast_date">February 25, 2014</span></h3>
        <a href="https://twitter.com/chexton"><img src="/images/chris_hexton.jpg"></a>
        <p>In this episode, <a href="https://twitter.com/chexton">Chris Hexton</a>, founder of <a href="http://getvero.com/">Vero</a> talks about how he was able to grow Vero over the past 18 months. He also shares his 3 simple tips for anyone who's just starting out building their list and not sure how to begin with email marketing.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1698?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1698.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Listen on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="http://getvero.com/">Vero</a></li>
              <li><a href="https://twitter.com/chexton">Chris Hexton</a></li>
              <li><a href="http://mailchimp.com/">MailChimp</a></li>
              <li><a href="http://www.exacttarget.com/">ExactTarget</a></li>
              <li><a href="http://www.hubspot.com/">HubSpot</a></li>
              <li><a href="http://www.marketo.com/">Marketo</a></li>
              <li><a href="http://www.getharvest.com/">Harvest</a></li>
              <li><a href="http://www.freshbooks.com/">FreshBooks</a></li>
              <li><a href="http://blog.getvero.com/making-emai</li>l-better-building-the-mixpanel-for-email/">Making email better: the MixPanel for email</a> [Blog post]</li>
              <li><a href="https://news.ycombinator.com/"></a></li>
              <li><a href="http://pages.getvero.com/the-marketers-email-conversion-course/?utm_source=blog&utm_campaign=sidebar">Email Marketing Course</a></li>
              <li><a href="http://blog.getvero.com/">Vero Blog</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song:<a href="https://soundcloud.com/gqplaylist/heems-soup-boys"> "Soup Boys" by Heems</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">“It’s well and good to get on the front of HN, but you won’t be there long if what you’ve written is crap.”<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“It’s well and good to get on the front of HN, but you won’t be there long if what you’ve written is crap.” @chexton" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"Be honest, be yourself. Talk to early subscribers like you would a friend."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;Be honest, be yourself. Talk to early subscribers like you would a friend.&quot; @chexton" data-count="none" data-hashtags="emailmarketing">Tweet</a></p>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"Don’t be afraid to ask people to put down their email. Don’t be afraid to ask people to pay money."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;Don’t be afraid to ask people to put down their email. Don’t be afraid to ask people to pay money.&quot; @chexton" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 3: Todd Garland<span class="podcast_date">February 18, 2014</span></h3>
        <a href="https://twitter.com/toddo"><img src="/images/todd_garland.jpg"></a>
        <p><a href="https://twitter.com/toddo">Todd Garland</a>, founder of <a href="http://buysellads.com/">BuySellAds</a> talked with us about how you don't need to be the first to market, and about how old fashioned hustle and personal touch still pay off in a big way.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1518-ep3-todd-garland?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1518-ep3-todd-garland.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Listen on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="http://buysellads.com/">BuySellAds</a></li>
              <li><a href="https://twitter.com/toddo">Todd Garland</a></li>
              <li><a href="http://en.wikipedia.org/wiki/AdBrite">AdBrite</a></li>
              <li><a href="https://speakerdeck.com/toddynho/growth-hacking-in-the-early-days-of-buysellads">Cold Email Example</a> (Speaker Deck, slide 11)</li>
              <li><a href="http://www.hubspot.com/">HubSpot</a></li>
              <li><a href="https://pro.buysellads.com/publishers">PublisherPro</a></li>
              <li><a href="https://stripe.com/">Stripe</a></li>
              <li><a href="http://www.authorize.net/">Authorize.net</a></li>
              <li><a href="https://www.balancedpayments.com/">Balanced Payments</a></li>
              <li><a href="http://ttps://www.braintreepayments.com">Braintree</a></li>
              <li><a href="http://promoted.com/">Promoted.com</a></li>
              <li><a href="https://www.lyft.me/">Lyft</a></li>
              <li><a href="https://www.uber.com/">Uber</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/benchwarmer-dribbble-for/lhdjhhpjicomphhjpehdhjenbaamdpnn?hl=en">Benchwarmer</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/instagram-for-chrome-tabs/mipnjnddbpbdmbpjafflemfdefjlibod?hl=en">Instatabs</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song: "Computers" by <a href="https://twitter.com/HIMANSHU">Nehru Jackets</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">"You may think you’re up against Goliath, but it's really much more of a level playing field than you think."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;You may think you’re up against Goliath, but it's really much more of a level playing field than you think.&quot; -@toddo" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"That's the beauty of being naive &amp; able to take a fresh perspective on an industry with a ton of baggage..."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;That's the beauty of being naive & able to take a fresh perspective on an industry with a ton of baggage...&quot; -@toddo" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"With a fresh set of eyes you can break down a problem at the most simple level..."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;With a fresh set of eyes you can break down a problem at the most simple level...&quot; -@toddo" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->


    </section><!-- END #podcast_list.twelve.columns -->

    <%= partial 'partials/sidebar' %>
  </div><!-- END #podcasts.container -->
</section><!-- END #podcasts_banner -->

<%= partial 'partials/footer' %>
