<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- RSS Feed -->
    <link href="http://simplecast.fm/podcasts/62/rss" rel="alternate" title="The Rocketship Podcast RSS" type="application/rss+xml" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Talking Code - Learn to speak developer." %></title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'partials/navigation' %>

    <%= yield %>

    <%= partial 'partials/perfect_audience' %>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
  </body>
</html>