<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- RSS Feed -->
    <link href="http://simplecast.fm/podcasts/62/rss" rel="alternate" title="The Rocketship Podcast RSS" type="application/rss+xml" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %> | How to Build a SaaS Rocketship Podcast</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application" %>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@<%= current_page.data.twitter_url.split('/').last rescue '' %>">
    <meta name="twitter:title" content="<%= current_page.data.title %>">
    <meta name="twitter:description" content="<%= strip_tags(current_page.data.summary) %>">
    <meta name="twitter:image:src" content="http://howtobuildarocketship.com/images/twitter_cards/<%= current_page.data.name.parameterize %>.jpg">
  </head>

  <body class="<%= page_classes %>">

    <%= partial 'partials/navigation' %>

    <!-- For Tweet buttons -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <section id="podcasts_banner">
      <div id="podcasts" class="container">

        <section id="podcast_detail" class="sixteen columns">
          <%= partial 'partials/episode', locals: {episode: current_page} %>
        </section>

      </div>
    </section>

    <%= partial 'partials/footer' %>
    <%= partial 'partials/perfect_audience' %>

  </body>
</html>