<%= partial 'partials/header' %>

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>Are you building your own SaaS?</h1>
      <h2>Learn how to do it <i>our way</i> and launch into revenue from <b>day one</b>.</h2>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->

<section id="summary_banner">
  <div id="summary" class="container">
    <div class="seven columns offset-by-one" id="book_copy">
      <p>Mixtape +1 Pinterest, roof party tousled Odd Future sartorial literally hoodie before they sold out Echo Park skateboard stumptown fap.</p><br /><br />

      <form action="http://email.demandloyalty.com/t/r/s/tyjtukk/" method="post">
        <input type="email" name="cm-tyjtukk-tyjtukk" placeholder="Your Email" id="sign_up" required>
        <input type="submit" value="Reserve Your Launch Discount" id="submit">
      </form>
    </div>

    <div class="seven columns" id="book_image">
      <%= image_tag 'book-cover.png', width: "475" %>
    </div>
  </div><!-- END #summary.container -->
</section><!-- END #summary_banner -->


<section id="bullet_points_banner">
  <div id="bullet_points"> 
   <div class="container">
    <div class="sixteen columns">
      <h2>Learn to validate your idea, aquire customers and launch your SaaS application into revenue from Day 1</h2>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #bullet_points.container -->
  <div class="container lessons">
    <div class="one-third column">
      <h3>Building a quality audience</h3>
    </div>
    <div class="one-third column">
      <h3>Developing the right product</h3>
    </div>
    <div class="one-third column">
      <h3>Converting beta testers into paid users</h3>
    </div>
  </div>
  <div class="container lessons">
    <div class="one-third column">
      <h3>Launching into revenue day one</h3>
    </div>
    <div class="one-third column">
      <h3>Developing the right product</h3>
    </div>
    <div class="one-third column">
      <h3>Converting beta testers into paid users</h3>
    </div>
  </div>
  </div>
</section><!-- END #bullet_points_banner -->


<section id="authors_banner">
  <div id="authors" class="container">
    <div class="sixteen columns">
      <h2>Authors</h2>
    </div>

    <div class="sixteen columns" id="headshots">
      <div class="author">
        <a href="https://twitter.com/michaelsacca"><%= image_tag 'charlie.jpg', width: "300" %></a>
        <h3> <a href="https://twitter.com/michaelsacca">Michael Sacca</a></h3>
        <p>Founder of <a href="http://www.tinyfactory.co/#!home">Tiny Factory</a>. Currently building <a href="https://www.brandisty.com/">Brandisty</a>. <span>Proud father.</span></p>
      </div><!-- END .author -->

      <div class="author">
        <a href="https://twitter.com/joellesteiniger"><%= image_tag 'sweet-dee.jpg', width: "300" %></a>
        <h3><a href="https://twitter.com/joellesteiniger">Joelle Steiniger</a></h3>
        <p>Co-Pilot of <a href="http://www.smallhq.com">Small HQ</a>, <a href="http://www.minimalytics.com">Minimalytics</a>, and <a href="http://www.hookfeed.com">HookFeed</a>. <span>IPA connoisseur.</span></p>
      </div><!-- END .author -->

      <div class="author">
        <a href="https://twitter.com/sdmattg"><%= image_tag 'frank.jpg', width: "300" %></a>
        <h3><a href="https://twitter.com/sdmattg">Matt Goldman</a></h3>
        <p>Founder of <a href="http://www.smallhq.com">Small HQ</a>, Minimalytics</a>, and <a href="http://www.hookfeed.com">HookFeed</a>. <span>Likes eggs.</span></p>
      </div><!-- END .author -->
    </div><!-- END #headshots -->
  </div><!-- END #authors.container -->
</section><!-- END #authors_banner -->

<section id="footer_banner">
  <div id="footer" class="container">
    <div class="sixteen columns">
    <p>Created by <a href="http://www.smallhq.com">Small HQ</a> and <a href="http://www.tinyfactory.com">Tiny Factory</a> &nbsp | &nbsp <span><a href="http://www.madeinsd.org">Made in SD</a></span>.</p>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #footer.container -->
</section><!-- END #footer_banner -->